:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

body {
    background-color: var(--cor-2);

    width: 100vw;
}

.alinhamento-navbar{

    display: flex;
    justify-content: center;

    margin-top: 1%;
    margin-right: 90px;
}

.nav-bar{

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 75px;

    border: 1px solid var(--cor-4);
    border-radius: 50px;

    font-family: "Nunito", sans-serif;
}

.nav-bar a{

    font-family: "Nunito", sans-serif;
    font-weight: 650;
    text-decoration: none;
    font-size: 15px;

    color: var(--cor-3);
}

.nav-bar a:hover{
    color: var(--cor-4);
}

.button-cadastrar{
    background-color: var(--cor-2);
    border: 1px solid var(--cor-1);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-weight: 550;
    color: var(--cor-4);
}

.button-login{
    background-color: var(--cor-2);
    border: 1px solid var(--cor-1);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-weight: 550;
    color: var(--cor-4);
}

.button-cadastrar:hover{
    background-color: #ef97a4;
    color: var(--cor-2);
    transition: 300ms;
}

.button-login:hover{
    background-color: #ef97a4;
    color: var(--cor-2);
    transition: 300ms;
}